<!-- views/layouts/all-articles.handlebars -->
<!-- Article list handlebars template -->

<style media="screen">
  li {
    height : 100px;
    max-width: 960x;
    color: white;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>Articles from {{source}}</h1>

<ul>
{{#each media}}
  <li>{{title}}<button data-id={{id}} id="savenote">Article Notes</button></li>
{{/each}}
</ul>
